{% extends "base.html" %}
{#
templates/registration/password_reset_form.html

Django templates and HTML for badger!

This file is part of Badger!.

Badger! is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Badger! is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Badger!.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block title %}Password Reset{% endblock %}

{% block header %}Password Reset{% endblock %}

{% block content %}
Please enter your on-file email below and a link to change your password will be sent to you!
<div class="form">
    <form method="post" action="">
        <table>
            <tr>
                <th>{{ form.email.label_tag }}</th>
                <td>{{ form.email }}</th>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
