{% extends "base.html" %}
{#
templates/registration/password_reset_complete.html

Django templates and HTML for badger!

This file is part of Badger!.

Badger! is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Badger! is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Badger!.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block header %}{% block title %}Password Reset Complete{% endblock %}{% endblock %}

{% block content %}
<p>Your password has been set and you may now log in using the new password</p>
<p><a href="{{ login_url }}">Log in</a></p>
{% endblock %}
