{% extends "base.html" %}
{#
templates/registration/password_change_form.html

Django templates and HTML for badger!

This file is part of Badger!.

Badger! is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Badger! is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Badger!.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block title %}Change Password{% endblock %}

{% block header %} Change Password{% endblock %}

{% block content %}
{% if form.errors %}{% for error in form.errors %}<div class="failure">{{ error }}</div>{% endfor %}{% endif %}
<form method="post" action="/accounts/password/change/">
    <table>
        <tr>
            <th>{{ form.old_password.label_tag }}</th>
            <td>{{ form.old_password }}</td>
        </tr>
        <tr>
            <th>{{ form.new_password1.label_tag }}</th>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr />
            <th>{{ form.new_password2.label_tag }}</th>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Change password" /></td>
        </tr>
    </table>
</form>
{% endblock %}
